# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
ENV/
.env
.hf_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.onnx
*.bin

# Ollama local models
.ollama/